<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byd.launchermap"
    platformBuildVersionCode="33"
    platformBuildVersionName="13"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13">

    <uses-permission android:name="com.byd.card.permission.READ_CARD" />
    <uses-permission android:name="com.byd.card.permission.WRITE_CARD" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ROLE_HOLDERS" />
    <uses-permission android:name="android.permission.OBSERVE_ROLE_HOLDERS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_SET" />
    <uses-permission android:name="com.autonavi.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.TYPE_APPLICATION_OVERLAY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_APPLICATION_OVERLAY" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_POWER_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AUDIO_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_AUDIO_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AUDIO_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_ENGINE_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_ENERGY_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_GB_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_RSE_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_RSE_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_LIGHT_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_DOOR_LOCK_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_SENSOR_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SENSOR_SET" />
    <uses-permission android:name="com.byd.autovoice.permission.thirdapp" />
    <uses-permission android:name="com.byd.autovoice.permission.tts" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_SENSOR_PRIVACY" />
    <uses-permission android:name="android.permission.OBSERVE_SENSOR_PRIVACY" />
    <uses-permission android:name="com.byd.synclink.permissions.MAP_RELAY" />
    <uses-permission android:name="android.permission.BYDAUTO_ADAS_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_REMINDER_GET" />
    <uses-permission android:name="android.permission.BYDACQUISITION_SEND_EVENT_BUFFER" />
    <uses-permission android:name="android.permission.UNLIMITED_TOASTS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.BYDAUTO_TEST_GET" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.BYDAUTO_LOCATION_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_LOCATION_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_SAFETY_BELT_GET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/gpx+xml" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.google-earth.kml+xml" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="text/xml" />
        </intent>
        <intent>
            <action android:name="com.byd.audio.BYDCarAudioInterface" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.byd.diLinkAccount" />
    </queries>
    <queries>
        <package android:name="com.byd.miniprogram" />
    </queries>
    <queries>
        <package android:name="com.byd.mycar" />
    </queries>
    <queries>
        <package android:name="com.byd.synclink" />
    </queries>

    <permission
        android:name="com.byd.naviauto.mapprovider.permission.READ_NAVI_DATA"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.byd.launchermap.carlie"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <permission
        android:name="com.byd.launchermap.permission.ACCESS_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.byd.launchermap.permission.ACCESS_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.byd.audio.permission.CAR_AUDIO_SERVICE" />

    <permission
        android:name="com.byd.launchermap.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.byd.launchermap.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CONTROL_REMOTE_APP_TRANSITION_ANIMATIONS" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS" />

    <application
        android:name="com.byd.hotfix.UISupportTinkerApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDKBackground"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.byd.carmodel.CarModelImportActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service
            android:name="com.byd.automap.service.PushService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.byd.automap.secret" />
            </intent-filter>
        </service>
        <service
            android:name="com.byd.automap.service.VirtualDisplayService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.byd.automap.virtualdisplay" />
            </intent-filter>
        </service>
        <service
            android:name="com.autosdk.service.SelfCarResGetService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.byd.automap.activity.MainActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:exported="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.HOME_ONLY" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.byd.automap.activity.EmptyJumpActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="poi"
                    android:scheme="bydautomap" />
                <data
                    android:host="showTraffic"
                    android:scheme="bydautomap" />
                <data
                    android:host="myLocation"
                    android:scheme="bydautomap" />
                <data
                    android:host="rootmap"
                    android:scheme="bydautomap" />
                <data
                    android:host="rootmap_park"
                    android:scheme="bydautomap" />
                <data
                    android:host="route"
                    android:scheme="bydautomap" />
                <data
                    android:host="viewReGeo"
                    android:scheme="bydautomap" />
                <data
                    android:host="viewGeo"
                    android:scheme="bydautomap" />
                <data
                    android:host="arroundpoi"
                    android:scheme="bydautomap" />
                <data
                    android:host="keywordNavi"
                    android:scheme="bydautomap" />
                <data
                    android:host="navi"
                    android:scheme="bydautomap" />
                <data
                    android:host="viewMap"
                    android:scheme="bydautomap" />
                <data
                    android:host="mapOpera"
                    android:scheme="bydautomap" />
                <data
                    android:host="navi2SpecialDest"
                    android:scheme="bydautomap" />
                <data
                    android:host="naviPreview"
                    android:scheme="bydautomap" />
                <data
                    android:host="naviRoutePrefer"
                    android:scheme="bydautomap" />
                <data
                    android:host="naviRoutePreferEx"
                    android:scheme="bydautomap" />
                <data
                    android:host="naviExit"
                    android:scheme="bydautomap" />
                <data
                    android:host="appExit"
                    android:scheme="bydautomap" />
                <data
                    android:host="openFavorite"
                    android:scheme="bydautomap" />
                <data
                    android:host="setting"
                    android:scheme="bydautomap" />
                <data
                    android:host="offline_data"
                    android:scheme="bydautomap" />
                <data
                    android:host="offline_tts"
                    android:scheme="bydautomap" />
                <data
                    android:host="naviSetting"
                    android:scheme="bydautomap" />
                <data
                    android:host="citySelect"
                    android:scheme="bydautomap" />
                <data
                    android:host="searchBase"
                    android:scheme="bydautomap" />
                <data
                    android:host="searchReasultMap"
                    android:scheme="bydautomap" />
                <data
                    android:host="searchAround"
                    android:scheme="bydautomap" />
                <data
                    android:host="searchCategory"
                    android:scheme="bydautomap" />
                <data
                    android:host="userLogin"
                    android:scheme="bydautomap" />
                <data
                    android:host="launch_do_nothing"
                    android:scheme="bydautomap" />
                <data
                    android:host="derectSimuNavi"
                    android:scheme="bydautomap" />
                <data
                    android:host="voiceOper"
                    android:scheme="bydautomap" />
                <data
                    android:host="aloneSearch"
                    android:scheme="bydautomap" />
                <data
                    android:host="settingHomeOrCompany"
                    android:scheme="bydautomap" />
                <data
                    android:host="trafficReport"
                    android:scheme="bydautomap" />
                <data
                    android:host="userMessage"
                    android:scheme="bydautomap" />
                <data
                    android:host="userTrace"
                    android:scheme="bydautomap" />
                <data
                    android:host="openOfflinedata"
                    android:scheme="bydautomap" />
                <data
                    android:host="openUsbguide"
                    android:scheme="bydautomap" />
                <data
                    android:host="colombo"
                    android:scheme="bydautomap" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.byd.automap.activity.OffEmptyActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKBackground.Transparent" />
        <activity
            android:name="com.byd.automap.meter.MeterActivity"
            android:configChanges="locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|colorMode|fontScale"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.byd.automap.meter.MeterActivity"
            android:theme="@style/Theme.SDKBackground.Translucent.Meter">
            <intent-filter>
                <action android:name="com.byd.automap.START_MAP_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.byd.automap.meter.MeterTbtActivity"
            android:configChanges="locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|colorMode|fontScale"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.byd.automap.meter.MeterTbtActivity"
            android:theme="@style/Theme.SDKBackground.Translucent.Meter">
            <intent-filter>
                <action android:name="com.byd.automap.START_MINI_MAP_CARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.autosdk.drive.navi.NaviService"
            android:enabled="true"
            android:exported="true"
            android:label="NaviService" />
        <service
            android:name="com.autosdk.service.SendToCarService"
            android:enabled="true"
            android:exported="true"
            android:label="SendToCarService" />
        <service
            android:name="com.autosdk.service.RestartAppService"
            android:exported="true"
            android:process=":restart_app_service" />

        <meta-data
            android:name="PRODUCT"
            android:value="l5" />
        <meta-data
            android:name="BUGLY_APPID"
            android:value="739fdacc5b" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="0.0.0.0" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
        <meta-data
            android:name="CARBODY_RES_GROUP_VERSION"
            android:value="1" />

        <receiver
            android:name="com.byd.automap.receiver.BydBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.byd.automap.receiver.BydAccountReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="2147483647">
            <intent-filter>
                <action android:name="com.byd.action.query_tri_part_account_state" />
                <action android:name="com.byd.action.byd_account_bind" />
                <action android:name="com.byd.action.byd_account_go_tripart_login_page" />
                <action android:name="com.byd.action.byd_account_state_change" />
                <action android:name="com.byd.action.byd_account_bind_for_bind_on_3part" />
                <action android:name="com.byd.action.byd_account_unbind_for_bind_on_3part" />
                <action android:name="com.byd.action.byd_account_state_login" />
                <action android:name="com.byd.action.byd_account_state_logout" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.autosdk.drive.widget.MapWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/map_widget_info" />
        </receiver>
        <receiver
            android:name="com.byd.automap.receiver.StandardBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="CUSTOM_NAVI_STANDARD_BROADCAST_RECV" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.byd.automap.receiver.PushServiceMessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.byd.pushservice.ACTION_MSG_RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.byd.automap.MyNavigationService"
            android:exported="true"
            android:foregroundServiceType="location" />
        <service
            android:name="com.byd.automap.service.VirtualBindService"
            android:exported="true" />
        <service
            android:name="com.byd.automap.service.DashBroadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" >
            <intent-filter>
                <action android:name="com.byd.automap.dashBroad" />
            </intent-filter>
        </service>
        <service
            android:name="com.byd.automap.service.VolumeService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.byd.automap.service.SocketMapService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.byd.automap.socket" />
            </intent-filter>
        </service>
        <service android:name="com.byd.automap.service.WidgetService" />

        <provider
            android:name="com.autosdk.drive.magspace.MagSpaceContentProvider"
            android:authorities="com.byd.naviauto.mapprovider"
            android:exported="true"
            android:readPermission="com.byd.naviauto.mapprovider.permission.READ_NAVI_DATA" />
        <provider
            android:name="com.byd.launchermap.ExternalProvider"
            android:authorities="com.byd.launchermap.ExternalProvider"
            android:exported="true" />

        <service
            android:name="com.autosdk.protocol.service.ProtocolService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="action.com.autosdk.protocol.ProtocolService" />
            </intent-filter>
        </service>
        <service android:name="com.byd.hotfix.HotFixResultService" />
        <service
            android:name="com.autosdk.sr.service.SDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="action.com.autosdk.sr.SDService" />
            </intent-filter>
        </service>
        <service
            android:name="com.autosdk.user.msg.service.FloatMonkService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.automap.carlife.service.CarLifeManagerService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.byd.launchermap.carlie">
            <intent-filter>
                <action android:name="com.byd.launchermap.carlie.CarlifeManagerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.automap.parking.manager.ParkService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.byd.launchermap.ParkService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.automap.parking.manager.ParkCostWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/parking_widget_info" />
        </receiver>

        <service
            android:name="com.byd.map.ability.MapAbilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.byd.launchermap.permission.ACCESS_SERVICE">
            <intent-filter>
                <action android:name="com.byd.map.ability.MapAbilityService" />
            </intent-filter>
        </service>
        <service
            android:name="com.byd.syncpatch.PatchSyncService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.uuzuche.lib_zxing.activity.CaptureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.blankj.utilcode.util.Utils$TransActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="com.blankj.utilcode.util.Utils$FileProvider4UtilCode"
            android:authorities="com.byd.launchermap.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>
        <service android:name="com.blankj.utilcode.util.MessengerUtils$ServerService">
            <intent-filter>
                <action android:name="com.byd.launchermap.messenger" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.byd.launchermap.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:directBootAware="true"
            android:exported="false" />
        <service
            android:name="com.tencent.tinker.lib.service.TinkerPatchForeService"
            android:enabled="true"
            android:exported="false"
            android:process=":patch" />
        <service
            android:name="com.tencent.tinker.lib.service.TinkerPatchService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":patch" />
        <service
            android:name="com.tencent.tinker.lib.service.TinkerPatchService$InnerService"
            android:exported="false"
            android:process=":patch" />
        <service
            android:name="com.tencent.tinker.lib.service.DefaultTinkerResultService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_00" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_01" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_02" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_03" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_04" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_05" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_06" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_07" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_08" />
        <activity android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_09" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_00_T"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_01_T"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_02_T"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_00"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_01"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_02"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_03"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_04"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_05"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_06"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_07"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_08"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_09"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_00_T"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_01_T"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_02_T"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_00"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_01"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_02"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_03"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_04"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_05"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_06"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_07"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_08"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_09"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_00_T"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_01_T"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_02_T"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_00"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_01"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_02"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_03"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_04"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_05"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_06"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_07"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_08"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_09"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_00_T"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_01_T"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_02_T"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="tinker_version"
            android:value="0.0.10-SNAPSHOT" />
        <meta-data
            android:name="TINKER_ID"
            android:value="tinker_id_b9c5d7d073" />
    </application>
</manifest>
